<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742828054084-98jmh9pqa8r6tc8alhkqe1pjs85fhc9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742828054084-98jmh9pqa8r6tc8alhkqe1pjs85fhc9p</string>
	<key>API_KEY</key>
	<string>AIzaSyB-UdCv1CLkE_R8MWI5kXGfoPq5K-d2w50</string>
	<key>GCM_SENDER_ID</key>
	<string>742828054084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.dvt.BookWyrm</string>
	<key>PROJECT_ID</key>
	<string>bookwyrm-231415</string>
	<key>STORAGE_BUCKET</key>
	<string>bookwyrm-231415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742828054084:ios:53fec81c9d1ee4a9</string>
	<key>DATABASE_URL</key>
	<string>https://bookwyrm-231415.firebaseio.com</string>
</dict>
</plist>